// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-round {
  margin-left: 100px;
}

ul.votinglinks, ul.votinglinks li {
  text-align:center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
}

ul.votinglinks .disabled {
  color: #c0c0c0;
}
