<% if defined?(hed) && defined?(subhed) %>
  <h1><%= hed %></h1>
  <hr class="small">
  <span class="subheading"><%= subhed %></span>
<% else %>
  <h1>Our Awsome Blog</h1>
  <hr class="small">
  <span class="subheading">We doth maketh the internets</span>
<% end %>
