<div class="row">
  <div class="col-md-9" id="links_list">
    <%= render :partial => 'link', :collection => @links %>
  </div>

  <div class="col-md-3">
    <% if current_user %>
      <button type="button" id="new_link_modal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newLink">
        New link
      </button>
    <% end %>
    <%= render :partial => 'links/form', :layout => 'shared/modal', :locals => {:title => "A new link", :id => "newLink"} %>
  </div>
</div>
