if($("#ajax-flashes p").length > 0){
  $("#ajax-flashes").fadeOut();
}
$("#ajax-flashes p").remove();
$('#link-<%= @link.id %>').replaceWith("<%= escape_javascript(render :partial => "links/votinglinks", :locals => {:link => @link}) %>");
$("#ajax-flashes").addClass("alert-success");
$("#ajax-flashes").append("<p>Vote updated!</p>");
$("#ajax-flashes").fadeIn();
